.search {
    display: flex;
    margin: 15px 15px;
    color: white;
    padding-top: 100px;
}

.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .tabx {
        width: 100%
    }
    .tab {
        width: 30%;
    }
  }