.media {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 5px;
  margin: 5px 0;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  transition: transform .2s;
}

.media:hover {
  color: black;
  transform: scale(1.1);
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
  width: 250px;
}