.media {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  /* padding: 5px; */
  margin: 5px 0;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  transition: transform .2s;
}

.media:hover {
  color: black;
  transform: scale(1.1);
}

.poster {
  border-radius: 10px;
  width: 250px;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
    height: 50%;
  }

  .poster {
    border-radius: 10px;
    width: 150px;
    padding-bottom: 0px;
  }
}