@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@400;600;700;800&display=swap');

.container {
    padding: 0;
    box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
    background-color: #131a28;

    display: flex;
    justify-content: right;
    padding-right: 20px;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1500px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.item {
    color: white;
    margin: 0 16px;
}

.navbar {
    background: transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar.active {
    background: linear-gradient(90deg, rgb(50, 146, 255) 0%, rgb(14, 156, 250) 100%)
}

.leftItem {
    padding: 0;
    box-shadow: 3px 3px 11px 3px rgb(0 0 0 / 32%);
    background-color: #131a28;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1500px;
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
}
